<%- include('header.ejs') %>

<div class="section">
    <div class="block">
        <a class="button" href="/employees/new">New</a>
    </div>
    <h1 class="title">Employee List</h1>
    <nav class="pagination">
        <a class="pagination-previous" href="?offset=<%= offset - limit %>&limit=<%= limit %>">Previous</a>
        <a class="pagination-next" href="?offset=<%= offset + limit %>&limit=<%= limit %>">Next page</a>
    </nav>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Hire Date</th>
        </tr>
        </thead>
        <tbody>
        <% for (let emp of employees) { %>
            <tr>
                <td><%= emp.emp_no %></td>
                <td><%= emp.first_name %></td>
                <td><%= emp.last_name %></td>
                <td><%= emp.gender %></td>
                <td><%= emp.birth_date.toLocaleDateString() %></td>
                <td><%= emp.hire_date.toLocaleDateString() %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<%- include('footer.ejs') %>
